@import url('https://fonts.cdnfonts.com/css/calculator');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

* {
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 800;

}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 20%;
    min-width: 300px;
    border: 1px solid 5e5e6e;
    background-color: #5e5e6e;
}

.buttons, .result {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}

.result {
    height: 100px;
    border: 1px solid 5e5e6e;
    justify-content: flex-end;
    align-items: center;
    font-size: 4em;
    background: #29292d;
    color: white;
    padding: 0 10px;
    font-family: 'Calculator', sans-serif;
    font-weight: 400;
}

.button {
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    height: 75px;
    border: 2px solid #5e5e6e;
    border-radius: 6px;
    font-size: 1.5em;
    background-color: #c1c1c7;
}


.button.operator {
    background-color: #8b8b97;
}

.button.activeOperator {
    background-color: #60606b;
}

.wideButton {
    flex: 0 1 50%;
}

button:hover {
    filter: brightness(90%);
}
